
.problemTable {
  table-layout: fixed;
  width: 900px;
  margin-left: 100px; 
  border-collapse: collapse;
}


.statusColumn,
.statusCell {
  width: 50px; 
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

.sourceColumn,
.sourceCell {
  width: 100px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

.starredColumn,
.starredCell {
  width: 50px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

.problemColumn,
.problemCell {
  width: 350px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

.difficultyColumn,
.difficultyCell {
  width: 50px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

.tagsColumn,
.tagsCell {
  width: 250px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

.helpColumn,
.helpCell {
  width: 50px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
}

/* Table cell padding and no border */
th,
td {
  padding: 10px;
  border: 0 !important; /* Ensure no borders are applied to any cell */
}

/* Alternating row colors in the table body */
tbody tr:nth-child(even) {
  background-color: #0000ff; /* Blue for even rows */
}

tbody tr:nth-child(odd) {
  background-color: #ff0000; /* Red for odd rows */
}

/* State Circle Styles */
.stateCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey; /* Default */
}

.state0 {
  background-color: grey;
}

.state1 {
  background-color: blue;
}

.state2 {
  background-color: green;
}

/* Hyperlink Styles */
.problemLink {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

/* Starred Problems */
.starredCell {
  font-size: 20px;
}

/* Apply pink background to the header row cells */
thead th {
  background-color: pink;
  color: white;
  padding: 10px;
}

.dropdownMenu {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdownMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdownMenu ul li {
  padding: 4px 8px;
  cursor: pointer;
  color: black; 
}

