
.resourceTable {
    border-collapse: collapse;
    width: 900px; 
    margin-left: 100px; 
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    background-color: #f9f9f9;
  }
  
  .resourceTable thead tr {
    background-color: #4CAF50;
    color: white;
  }
  
  .resourceTable th,
  .resourceTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .resourceTable th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .resourceTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .resourceTable tbody tr:hover {
    background-color: #f1f7ff; /* Light blue on hover */
  }
  
  /* Columns */
  .nameColumn,
  .nameCell {
    width: 200px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  .sourceColumn,
  .sourceCell {
    width: 100px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  .starredColumn,
  .starredCell {
    width: 50px;
    text-align: center;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  .descriptionColumn,
.descriptionCell {
    width: 500px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }

    .helpColumn,
  .helpCell {
    width: 50px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  /* Link Styling */
  .resourceLink {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .resourceLink:hover {
    text-decoration: underline;
    color: #0056b3; /* Darker blue */
  }
  
  /* Star Cell */
  .starredCell {
    font-size: 18px;
    text-align: center;
  }
  
