
.resourceTable {
    border-collapse: collapse;
    width: 900px; 
    margin-left: 125px; 
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    border-spacing: 0;
    transform: translateX(0);
  
  }

  tr, th,
  td {
    height: 40px; 
    line-height: 40px; 
    border: none !important;
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-left: 0; 
    padding-right: 0; 
  }
  
  .resourceTable thead tr {
    background-color: #4CAF50;
    color: white;
  }

  
  .resourceTable th {
    letter-spacing: 0.1em;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ffc0cb; 
  }
  
  tbody tr:nth-child(odd) {
    background-color: #ffb6c1; 
  }
  

  

  .nameColumn,
  .nameCell {
    width: 200px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  .sourceColumn,
  .sourceCell {
    width: 100px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  .starredColumn,
  .starredCell {
    width: 25px;
    text-align: center;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
  .descriptionColumn,
.descriptionCell {
    width: 540px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }

    .helpColumn,
  .helpCell {
    width: 50px;
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
  }
  
 
  .resourceLink {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .resourceLink:hover {
    text-decoration: underline;
    color: #0056b3; /* Darker blue */
  }
  
  
  .starredCell {
    font-size: 18px;
    text-align: center;
  }
  
