
.problemTable {
  width: 900px;
  table-layout: fixed;
  margin-left: 125px; 
  border-collapse: collapse;
  border-spacing: 0;
}

tr, th,
td {
  height: 40px; 
  line-height: 40px; 
  border: none !important;
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-left: 0; 
  padding-right: 0; 
}

.statusColumn,
.statusCell {
  width: 50px;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.sourceColumn,
.sourceCell {
  width: 100px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.starredColumn,
.starredCell {
  width: 10px;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.problemColumn,
.problemCell {
  width: 375px;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.difficultyColumn,
.difficultyCell {
  width: 50px;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.tagsColumn,
.tagsCell {
  width: 265px;
  text-align: left; 
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.helpColumn,
.helpCell {
  width: 50px;
  text-align: left; 
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis;
}


tbody tr:nth-child(even) {
  background-color: #ffc0cb; 
}

tbody tr:nth-child(odd) {
  background-color: #ffb6c1; 
}

.stateCircle {
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle; 
}

.state0 {
  background-color: grey;
}

.state1 {
  background-color: blue;
}

.state2 {
  background-color: green;
}


.problemLink {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

.problemLink:hover {
  text-decoration: underline;
  color: #005bb5; 
}

.starredCell {
  font-size: 20px;
  color: gold;
}


thead th {
  background-color: #ff69b4; 
  color: white;
  font-weight: bold;
  border: none;
}


.dropdownMenu {
  background-color: #ff4d4d; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  position: absolute;
}

.dropdownMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdownMenu ul li {
  padding: 8px 12px;
  cursor: pointer;
  color: black;
  font-size: 14px;
}

.dropdownMenu ul li:hover {
  background-color: #ff6666; 
  color: black;
}

.helpLink {
  color: black;
}
.helpLink:hover {
  color: white;
}

.toggleTagsButton {
  background-color: #4b0082;
  color: white;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggleTagsButton:hover {
  background-color: #551a8b; 
  transform: scale(1.05); 
}

.toggleTagsButton:active {
  background-color: #3a005f;
  transform: scale(0.95); 
}
