

.state0 a {
  color: grey;
}

.state1 a {
  color: blue;
}

.state2 a {
  color: green;
}

.state0, .state1, .state2 a:hover {
  color: white; 
}




.sidebarContainer {
  width: 300px; 
  padding: 20px;
  background-color: #1c1e30;
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
}


.sidebarHeader {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 20px;
  background-color: #1c1e30;
}


.dropdown {
  margin-left: 10px; /* Adjust positioning */
}


h3 {
  color: white; /* White text for the topic title */
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white; /* Make sure text is white */
}

ul li {
  padding: 10px 0;
  font-size: 1em; /* Adjust font size */
  color: white; /* White text for topics */
}



p {
  color: white; 
}

.dropdown {
  color: #ffffff; /* White text in dropdown */
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 50px; /* Adjust positioning */
}
