.topicProgress {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 175px; 
  display: flex; 
}

.stateLabel.state-0 {
  background-color: gray;
}

.stateLabel.state-1 {
  background-color: blue;
}

.stateLabel.state-2 {
  background-color: green;
}

.label {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.stateLabel {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100px; 
  text-align: center;
}

.stateLabel:hover {
  background-color: #d3d3d3;
}

.dropdownMenu {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  position: absolute;
  display: block;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  color: black;
  font-size: 14px;
}

.dropdownItem:hover {
  background-color: #32cd32;
  color: white;
}
