

.topicProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px; 
  }
.label {
  color: white; 
  font-weight: bold;
  font-size: 20px;
}
  
  .stateCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .state0 {
    background-color: grey;  /* Unseen */
  }
  
  .state1 {
    background-color: blue;  /* Skipped */
  }
  
  .state2 {
    background-color: green; /* Solved */
  }
  
  /* Dropdown container */
.dropdown {
  position: relative; /* Ensures dropdown content is positioned relative to this container */
  display: inline-block;
}

/* Dropdown items container */
.dropdownContent {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  position: absolute; /* Positions dropdown content absolutely within .dropdown */
  background-color: white; /* White background for dropdown */
  min-width: 160px; /* Adjust width if needed */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  z-index: 1; /* Ensures dropdown appears on top */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Prevents items from overflowing */
  margin-top: 10px; /* Space between button and dropdown */
}


.dropdownMenu {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  position: absolute;
}

.dropdownMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdownMenu ul li {
  padding: 8px 12px;
  cursor: pointer;
  color: black;
  font-size: 14px;
}

.dropdownMenu ul li:hover {
  background-color: #32cd32; 
  color: white;
}